.hero-container {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: fit-content;

  .learn-more {
    position: absolute;
    top: 87%;
    align-self: center;
    padding: 0.5rem;
    background-color: rgb(54, 49, 49);
    color: white;
    border-radius: 3px;
  }

  .hero-picture {
    margin-top: 2rem;
    background: no-repeat center 0vw;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    width: 100vw;
    height: 50vh;
    // border-top: 5px solid firebrick;
    // border-bottom: 5px solid firebrick;
    // border-top: 5px solid rgb(123, 18, 18);
    // border-bottom: 5px solid rgb(123, 18, 18);
    border-top: 3px solid black;
    border-bottom: 3px solid black;
  }

  //#############################  Less than 991px  #############################
  //#############################  Less than 991px  #############################
  //#############################  Less than 991px  #############################
  @media screen and (max-width: 991px) {
    .hero-picture {
      margin-top: 5rem;
    }
  }
}
